<!-- inherit from base.html-->
{% extends "calendar_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h2>{{event.title}} - Detail View </h2>

<p><strong>Description: </strong> {{event.description}}</p>
<p><strong>Date: </strong> {{event.date}}</p>
<p><strong>Time: </strong> {{event.time}}</p>
<p><strong>Is Active?: </strong> {{event.is_active}}</a>
    <div class="btn-group">
        <a href="{% url 'update-event' event.id %}" class="btn btn-primary" role="button">Update</a>
        <a href="{% url 'delete-event' event.id %}" class="btn btn-danger" role="button">Delete</a>
        <a href="{% url 'event' %}" class="btn btn-primary" role="button">Back</a>
    </div>
{%endblock%}