<!-- inherit from base.html-->
{% extends "calendar_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
    <h2>Welcome To Tempo!</h2>
    <div class="container_fluid">
        <div class="row">
          <div class='col'> </div>
          <div class="col-10">
            <p><strong>Tempo is a calendar and scheduling that strives to keep you on the beat of your life. </strong>
            </p>
          </div>
          <div class='col'> </div>
        </div>

        <div class="row">
            <div class='col'> </div>
            <div class="col-10">
              <p>
                  The main goal of Tempo is to keep everyday people on track and on time so that our users can get work done, and to allow others access to sharable calendars for easy scheduling and planning.
                  Tempo uses a calendar system to keep track of event and then allows sharable links so that events can be viewed. 
                  <br> <br>
                  <a href="#" class="btn btn-primary" role="button">Login</a>
                  <a href="#" class="btn btn-primary" role="button">Sign Up</a>
              </p>
            </div>
            <div class='col'> </div>
          </div>
        </div>


    </div>
    
{%endblock%}